.jumbotron{
    background-color: yellow;
    margin-top: 10px;
  

}

.card-hotel{

    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    
}



.tarjetas-aceptadas{
    background-color: blue;
    color: white;


}
.tab-content {
    padding-top: 10px;

}

.footer-addres-icon{

    padding-right: 10px;
}

.btn-reserva{
    width: 100%;
   
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;


}