
@yellow:#c2c06d ;
@green:#97c5a6;

.margenes (@top: 0px, @bottom: 0px){
    margin-top:@top;
    margin-bottom:@bottom;
}

.jumbotron {
    background-color:@yellow;
    .margenes(50px,0px)
}

  .card-hotel {
    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  
  .footer-addres-icon {
    padding-right: 10px; }
  
  .btn-reserva {
    width: 100%; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @green;
    .margenes(10px,0px)
    }