.jumbotron {
  background-color: #c2c06d;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }

.tab-content {
  padding-top: 10px; }

.footer-addres-icon {
  padding-right: 10px; }

.btn-reserva {
  width: 100%; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #97c5a6;
  margin-top: 10px;
  margin-bottom: 0px; }
