$yellow: #c2c06d;
$red: #6e220f;
$green: #97c5a6;
$blue: #6c85e7;

@mixin margenes ($top,$bottom){
    margin-top:$top;
    margin-bottom:$bottom;
 
}

.jumbotron{
    background-color: $yellow;
    @include margenes(50px,0px)
  

}

.card-hotel{

    flex: 1 150px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
    
}

.tab-content {
    padding-top: 10px;

}

.footer-addres-icon{

    padding-right: 10px;
}

.btn-reserva{
    width: 100%;
   
}
footer{
    padding: 10px 10px 0 10px;
    background-color:$green;
   
    @include margenes(10px,0px)


}